.tableCard {
    background-color: #8ac4ff;
    font-weight:bold;
    color:white;
}


.tableTitle {
    font-weight: bold;
    color: white;
    background-color: #8ac4ff;

}

.tableData .theme--light.v-data-table.td{
    color: black;
}


.tableData .theme--light.v-data-table{
    background-color: #8AC4FF;
    color: white;
}