.myTable .theme--light.v-data-table.td{
    color: black;
}

.myTable .theme--light.v-data-table{
    background-color: #8AC4FF;
    color: white;
}

.myCard .theme--light.v-card{
    background-color: #8AC4FF;
    color: white;
    font-weight: bold;
}


