.tableCard {
  background-color: #8ac4ff;
  font-weight: bold;
  color: white;
}

.tableTitle {
  font-weight: bold;
  color: white;
  background-color: #8ac4ff;
}

.tableData .theme--light.v-data-table {
  background-color: #8ac4ff;
  color: white;
}

.theme--light.v-data-table.v-data-table--fixed-header thead th {
  background: #8ac4ff;
  color: white;
}
.theme--light.v-label {
  color: white;
}

.theme--light.v-input:not(.v-input--is-disabled) input,
.theme--light.v-input:not(.v-input--is-disabled) textarea {
  color: white;
}
